.blog {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .headline {
    margin: 0;
    padding: 0;
  }

  .subheadline {
    margin: 0;
  }

  .filters {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .by-author {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
    }
  }

  .posts {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
