#root {
  box-sizing: border-box;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.app {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}

input,
textarea {
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px 16px;
}

button {
  width: fit-content;
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;

  &.active {
    box-shadow: 0 0 5px 1px gray;
  }
}
